.HomePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}

.HomePage a {
  padding: 10px;
  margin: 5px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: bisque;

}